{{!-- modal-open sets a minimum height so our absolute positioned modal is always visible --}}
<div class="{{if showDeletionModal "modal-open"}}">
  <div class="modal-mask {{if showDeletionModal "visible" "invisible"}}"></div>
  
  {{#if showDeletionModal}}
    <div class="integration-modal">
      <div class="title">
        <div class="content">
          Delete Entity
        </div>      
      </div>
      <div class="content">
        <span class="p-key">
          <div>
            {{fa-icon icon="exclamation-triangle" fixedWidth=true class="p-red"}} You are about to delete the entity <b class="p-value-break-all">{{resultToDelete.entity.value}}</b> from OpenCTI. 
          </div>
          <div class="mt-2">
            <label class="d-flex align-items-center justify-content-start">
              {{input type="checkbox" class="mr-1"}}
              Delete Observable
            </label>
          </div>
          <div>
            <label class="mb-0 d-flex align-items-center justify-content-start">
              {{input type="checkbox" class="mr-1"}}
              Delete Indicator
            </label>
          </div>
          <div class="mt-2">
             Deleting an entity cannot be undone and will remove all data for the entity from OpenCTI.
          </div>
        </span>
      </div>
      <div class="footer">
        <div class="content d-flex align-items-center justify-content-end">
          <button class="btn btn-naked p-btn short outline" {{action "cancelItemDeletion"}}>
            Cancel
          </button>
          <button
                  class="btn btn-danger p-btn short outline"
            {{action "confirmDelete"}}
          >
            {{#if isDeleting}}
              {{fa-icon icon="spinner-third" fixedWidth=true spin=true}}
            {{else}}
              Delete
            {{/if}}
          </button>
        </div>
      </div>
    </div>
  {{/if}}
  
  {{#if state.errorMessage}}
    <div class="alert alert-danger error-message mt-2">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="error-message-title">
          {{#if state.errorTitle}}
            {{state.errorTitle}}
          {{else}}
            Unexpected Error Occurred
          {{/if}}
        </div>
        <div>
          {{fa-icon icon="times" fixedWidth=true click=(set state "errorMessage" "") class="close-icon"}}
        </div>
      </div>
      <div class="error-scrolling-container">
        <pre>{{state.errorMessage}}</pre>
      </div>
    </div>
  {{/if}}
  
  {{!-- Display results that are found --}}
  {{#if hasIndicatorsInThreatConnect}}
    <div class="d-flex align-items-center justify-content-between mt-2 mb-1">
      <h1 class="p-title my-0">
        Found in OpenCTI
      </h1>
      {{#if hasFoundInThreatConnectIndicatorsAvailableToSubmit}}
        <button
          class="no-style-button p-action"
          {{action "addAllCurrentlyInThreatConnectToBeSubmitted"}}
          title="Add all IOCs to Submission List"
          disabled={{interactionDisabled}}
        >
          Add All
        </button>
      {{/if}}
    </div>
    <div class="search-results">
    {{#each details.results as | result index |}}
      {{#if (and result.foundInThreatConnect (not result.__toBeSubmitted))}}
        <div class="search-result-container">
          <div class="search-result-header d-flex align-items-start justify-content-between" {{action (toggle "__viewIndicatorDetails" result)}}>
            <div class="d-flex align-items-start justify-content-start mr-1">
              <div>
                {{#if result.__viewIndicatorDetails}}
                  {{fa-icon icon="chevron-up" fixedWidth=true class="p-grey"}}
                {{else}}
                  {{fa-icon icon="chevron-down" fixedWidth=true class="p-grey"}}
                {{/if}}
              </div>
              {{#if result.__isNewlyAdded}}
                <div class="ml-1">
                  {{fa-icon icon="check-circle" fixedWidth=true class="p-green icon-small"}}
                  {{bs-tooltip title="Indicator was successfully submitted to ThreatConnect"}}
                </div>
              {{/if}}
              <div class="ml-1 mr-1 search-result-entity-value {{if result.__isOnExclusionList "p-orange"}} {{if result.__hasSubmissionError "p-red"}}">
                {{result.entity.value}}
              </div>
            </div>
            <div class="d-flex align-items-start justify-content-end">
              <div class="mr-1">
                {{#if (or (eq index 1)(eq index 2))}}
                  {{fa-icon icon="binoculars" fixedWidth=true class="gray-icon"}}
                {{else}}
                  {{fa-icon icon="binoculars" fixedWidth=true class="fa-blank"}}
                {{/if}}
                {{bs-tooltip title="Observable"}}
              </div>
             
              <div class="mr-1">
                {{#if (or (eq index 1)(eq index 3))}}
                  {{fa-icon icon="fingerprint" fixedWidth=true class="gray-icon"}}
                {{else}}
                  {{fa-icon icon="fingerprint" fixedWidth=true class="fa-blank"}}
                {{/if}}
                  {{bs-tooltip title="Indicator"}}
              </div>
              <div class="mr-1">
                {{#if result.isInMyOwner}}
                  {{fa-icon icon="house" fixedWidth=true class="p-grey is-mine-icon icon-small"}}
                  {{bs-tooltip title="This indicator is in your organization"}}
                {{else}}
                  {{fa-icon icon="house" fixedWidth=true class="fa-blank is-mine-icon icon-small"}}
                {{/if}}
              </div>
              <div class="d-flex align-items-start justify-content-end flex-shrink-0">
                {{#if block.userOptions.allowDelete}}
                  <button 
                    class="header-button delete mr-1"
                    {{action (pipe-action (action "initiateItemDeletion" result)(action (set result "__deleteTooltipIsVisible" false))) bubbles=false}}
                    disabled={{interactionDisabled}}
                  >
                    {{fa-icon icon="trash" fixedWidth=true}}
                    {{bs-tooltip 
                            title="Delete indicator from your default organization" 
                            visible=result.__deleteTooltipIsVisible
                            onShow=(action (set result "__deleteTooltipIsVisible" true))
                    }}
                  </button>
                {{/if}}
                {{#if result.__hasSubmissionError}}
                  <div>
                    {{fa-icon icon="exclamation-triangle" fixedWidth=true class="p-red button-width-icon"}}
                    {{bs-tooltip title="An error was encountered submitting this indicator. Click to view error."}}
                  </div>
                {{else if result.__isOnExclusionList}}
                  <div>
                    {{fa-icon icon="empty-set" fixedWidth=true class="p-orange button-width-icon"}}
                    {{bs-tooltip title="This indicator is contained on a system-wide exclusion list and cannot be submitted"}}
                  </div>
                {{else}}
                  <button 
                    class="header-button add p-green {{if (eq index 1) "fa-blank"}}"
                    {{action (set result "__toBeSubmitted" true) bubbles=false}}
                    disabled={{interactionDisabled}}
                  >
                    {{fa-icon icon="plus" fixedWidth=true}}
                    
                    {{bs-tooltip title="Add entity as an Indicator"}}
                      
                  </button>
                {{/if}}
              </div>
            </div>
          </div>
          {{#if result.__viewIndicatorDetails}}
            <div class="search-result-content">
              {{#if result.__hasSubmissionError}}
                <div class="alert alert-danger error-message mt-2">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="error-message-title">
                      Error submitting indicator
                    </div>
                    <div>
                      {{fa-icon icon="times" fixedWidth=true click=(pipe-action (set result "__errorMessage" "")(set result "__hasSubmissionError" false)(set result "__viewError" false)) class="close-icon"}}
                    </div>
                  </div>
                  <div class="error-scrolling-container">
                    <pre>{{result.__errorMessage}}</pre>
                  </div>
                </div>
              {{/if}}
              <div class="mt-0 mb-0 d-flex align-items-center justify-content-between">
                <div class="d-flex mt-1 align-items-center justify-content-between">
                  <h2 class="p-title my-0">
                  Observable
                  </h2>
                  <button class="header-button edit ml-1">
                    {{fa-icon icon="pencil" fixedWidth=true}}
                    {{bs-tooltip
                            title="Edit observable"
                    }}
                  </button>
                </div>
                <div class="flex-shrink-0">
                  <a href={{indicator.webLink}}>View in OpenCTI {{fa-icon icon="external-link-square" fixedWidth=true class="external-link-icon p-link"}}</a>
                </div>
              </div>
                {{#each result.indicators as | indicator |}}
                  <div class="search-result-indicator-container">
                    <div class="d-flex align-items-start justify-content-between">
                      <div class="mr-1">
                        {{#if (eq indicator.ownerId details.myOwner.id)}}
                          <span>
                            {{fa-icon icon="house" fixedWidth=true class="p-grey is-mine-icon icon-small"}}
                            {{bs-tooltip title="This indicator is in your organization"}}
                          </span>
                        {{/if}}
                        IPv4 Address
                      </div>
                      <div class="flex-shrink-0 score-box">
                        50 / 100
                      </div>
                    </div>
                    <div>
                      <span class="p-key">Author: </span>
                      <span>
                        Ed Dorsey
                      </span>
                    </div>
                    <div>
                      <span class="p-key">Creators: </span> 
                      <span class="p-value">
                        Ed Dorsey, Joe Miller, Jon Penwood
                      </span>
                    </div>
                    <div>
                      <span class="p-key">Created:</span> <span class="p-value">{{moment-format indicator.dateAdded "YYYY-MM-DD" timeZone=timezone}}</span>
                      <span class="p-key ml-1">Marking:</span> <span class="p-value">TLP: Clear</span>
                    </div>
                    <div class="mt-1">
                      <span class="p-tag">botnet</span>
                      <span class="p-tag">infrastructure</span>
                      <span class="p-tag">ddos</span>
                      <span class="p-tag">telnet</span>
                    </div>
                    <div class="mt-1">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </div>
                  </div>
                {{/each}}
              <div class="mt-1 mb-0 d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center mt-1 justify-content-between">
                  <h2 class="p-title my-0">
                    Indicator
                  </h2>
                  <button class="header-button edit ml-1">
                    {{fa-icon icon="pencil" fixedWidth=true}}
                    {{bs-tooltip
                            title="Edit indicator"
                    }}
                  </button>
                </div>
                <div class="flex-shrink-0">
                  <a href={{indicator.webLink}}>View in OpenCTI {{fa-icon icon="external-link-square" fixedWidth=true class="external-link-icon p-link"}}</a>
                </div>
              </div>
              {{#each result.indicators as | indicator |}}
                <div class="search-result-indicator-container">
                  <div class="d-flex align-items-start justify-content-between">
                    <div class="mr-1">
                      {{#if (eq indicator.ownerId details.myOwner.id)}}
                        <span>
                            {{fa-icon icon="house" fixedWidth=true class="p-grey is-mine-icon icon-small"}}
                          {{bs-tooltip title="This indicator is in your organization"}}
                          </span>
                      {{/if}}
                      Stix
                    </div>
                    <div class="flex-shrink-0 score-box">
                      50 / 100
                    </div>
                  </div>
                  <div>
                    <span class="p-key">Author: </span>
                    <span>
                        Ed Dorsey
                      </span>
                  </div>
                  <div>
                    <span class="p-key">Creators: </span>
                    <span class="p-value">
                        Ed Dorsey, Jon Penwood
                      </span>
                  </div>
                  <div>
                    <span class="p-key">Created:</span> <span class="p-value">{{moment-format indicator.dateAdded "YYYY-MM-DD" timeZone=timezone}}</span>
                    <span class="p-key ml-1">Marking:</span> <span class="p-value">TLP: Red</span>
                  </div>
                  <div class="mt-1">
                    <span class="p-tag">cobalt strike</span>
                    <span class="p-tag">jquery</span>
                    <span class="p-tag">dridex</span>
                  </div>
                  <div class="mt-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                  </div>
                </div>
              {{/each}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    {{/each}}
  </div>
    {{#if foundInThreatConnectIsEmpty}}
      <div>
        <span class="p-value">All indicators are selected for submission</span>
      </div>
    {{/if}}
  {{/if}}
  
  {{!-- Display entities that are not in TC --}}
  {{#if hasIndicatorNotInThreatConnect}}
    <div class="d-flex align-items-center justify-content-between mt-2 mb-1">
      <h1 class="p-title my-0">
        Not in OpenCTI
      </h1>
      {{#if hasNotInThreatConnectIndicatorsAvailableToSubmit}}
        <button
          class="no-style-button p-action"
          {{action "addAllNotInThreatConnectBeSubmitted"}}
          title="Add all IOCs to Submission List"
          disabled={{interactionDisabled}}
        >
          Add All
        </button>
      {{/if}}
    </div>
    <div class="search-results">
      {{#each details.results as | result |}}
        {{#if (and (not result.foundInThreatConnect) (not result.__toBeSubmitted))}}
          <div class="search-result-container">
            <div class="search-result-header d-flex align-items-start justify-content-between">
              <div class="{{if result.__isOnExclusionList "p-orange"}} {{if result.__hasSubmissionError "p-red"}} mr-1">
                <span class="search-result-entity-value">{{result.entity.value}}</span>
                {{#if result.__isOnExclusionList}}
                  <span class="p-footnote">(exclusion listed)</span>
                {{/if}}
              </div>
              <div class="d-flex align-items-start justify-content-end">
                <div class="mr-1">
                  <span class="p-footnote">IPv4</span>
                </div>
                {{#if result.__hasSubmissionError}}
                  <div>
                    {{#if result.__viewError}}
                      <span class="p-action ml-1" {{action (toggle "__viewError" result)}}>Hide Error {{fa-icon icon="chevron-up" fixedWidth=true}}</span>
                    {{else}}
                      <span class="p-action ml-1" {{action (toggle "__viewError" result)}}>View Error {{fa-icon icon="chevron-down" fixedWidth=true}}</span>
                    {{/if}}
                  </div>
                {{/if}}                
                {{#if result.__isOnExclusionList}}
                  <div>
                    {{fa-icon icon="empty-set" fixedWidth=true class="p-orange button-width-icon"}}
                    {{bs-tooltip title="This indicator is contained on a system-wide exclusion list and cannot be submitted"}}
                  </div>                  
                {{else}}
                  <div class="d-flex align-items-center justify-content-end">
                    {{#if result.__hasSubmissionError}}
                      <div>
                        {{fa-icon icon="exclamation-triangle" fixedWidth=true class="p-red button-width-icon"}}
                        {{bs-tooltip title="An error was encountered submitting this indicator"}}
                      </div>
                    {{else}}
                      <button
                              class="header-button add p-green"
                        {{action (set result "__toBeSubmitted" true)}}
                              disabled={{interactionDisabled}}
                      >
                        {{fa-icon icon="plus" fixedWidth=true}}
                        {{bs-tooltip title="Add entity as an Observable and/or Indicator"}}
                      </button>  
                    {{/if}}                    
                  </div>
                {{/if}}
              </div>
            </div>
            {{#if result.__viewError}}
              <div class="search-result-content">
                <div class="alert alert-danger error-message mt-2">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="error-message-title">
                      Error submitting indicator
                    </div>
                    <div>
                      {{fa-icon icon="times" fixedWidth=true click=(pipe-action (set result "__errorMessage" "")(set result "__hasSubmissionError" false)(set result "__viewError" false)) class="close-icon"}}
                    </div>
                  </div>
                  <div class="error-scrolling-container">
                    <pre>{{result.__errorMessage}}</pre>
                  </div>
                </div>
              </div>  
            {{/if}}
          </div>
        {{/if}}
      {{/each}}
    </div>
    {{#if notInThreatConnectIsEmpty}}
      <div>
        <span class="p-value">All indicators are selected for submission</span>
      </div>
    {{/if}}
  {{/if}}
  
  {{!-- Display entities that are to be submitted --}}
  {{#if hasIndicatorToBeSubmitted}}
    <div class="d-flex align-items-center justify-content-between mt-3 mb-1">
      <h1 class="p-title my-0">
        Submit to OpenCTI
      </h1>
      {{#if hasIndicatorToBeSubmitted}}
        <button 
          class="no-style-button p-action"
          title="Remove all IOCs from Submission List"
          {{action "removeAllToBeSubmitted"}}
          disabled={{interactionDisabled}}
        >
          Remove All
        </button>
      {{/if}}
    </div>
    <div class="p-footnote mb-1">
      Listed entities will be submitted to OpenCTI
    </div>
    {{#if (not hasIndicatorToBeSubmitted)}}
      <div>
          <span class="p-value">No indicators selected</span>
      </div>
    {{/if}}
    <div class="search-results">
      {{#each details.results as | result index |}}
        {{#if result.__toBeSubmitted}}
          <div class="search-result-container">
            <div class="search-result-header d-flex align-items-start justify-content-between">
              <div class="search-result-entity-value mr-1">
                {{result.entity.value}}
              </div>
              <div class="d-flex align-items-start justify-content-end">
                <div class="p-footnote mr-1">
                  {{result.displayType}}
                </div>
                <label class="mr-1 d-flex align-items-center justify-content-between submit-checkbox {{if (eq index 2) "disabled"}}">
                  {{fa-icon icon="binoculars" fixedWidth=true class=(if (eq index 2) "disabled")}}
                  {{input type="checkbox" disabled=(if (eq index 2) true)}}
                    {{#if (eq index 2)}}
                      {{bs-tooltip title="Entity is already an Observable"}}
                    {{else}}
                      {{bs-tooltip title="Submit entity as a new Observable"}}
                    {{/if}}
                </label>
                <label class="mr-1 d-flex align-items-center justify-content-between submit-checkbox">
                  {{fa-icon icon="fingerprint" fixedWidth=true}}
                  {{input type="checkbox" checked=(if (eq index 2) true) disabled=(if (eq index 2) true)}}
                  {{bs-tooltip title="Submit entity as a new Indicator"}}
                </label>
                {{!-- show icon if this indicator will be updated rather than created --}}
                {{#each result.indicators as | indicator | }}
                  {{#if (eq indicator.ownerId owner.id)}}
                    <div class="mr-1">
                      {{fa-icon icon="pencil" fixedWidth=true class="icon-small p-grey"}}
                      {{bs-tooltip title=(concat "This indicator already exists in " owner.name " and will be updated")}}
                    </div>
                  {{/if}}
                {{/each}}
                <button
                  class="header-button minus p-orange"
                  {{action (pipe-action (set result "__toBeSubmitted" false)(set result "__deleteTooltipIsVisible" false))}}
                  disabled={{interactionDisabled}}
                >
                  {{fa-icon icon="minus" fixedWidth=true}}
                  {{bs-tooltip title="Remove entity from submission list"}}
                </button>
              </div>
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
  
  {{!-- Show submision options --}}
  {{#if hasIndicatorToBeSubmitted}}
    <div class="d-flex align-items-center justify-content-between mt-2 mb-1">
      <h2 class="p-title my-0">
        Submission Options
      </h2>
      <div>
        <span class="p-action" {{action "resetSubmissionOptions"}}>Reset Options</span>
      </div>
    </div>

    {{!-- Source Input --}}
    <div class="input-container">
      <label class="small ifta-label">
        Score
      </label>
      {{input
              class=(concat "ifta-field" (if uiElement.error " error"))
              value=source
              placeholder="Enter a Score"
              disabled=interactionDisabled
              required=false
      }}
    </div>
  
    {{!-- Description Input --}}
    <div class="input-container text-area-container {{if interactionDisabled "disabled"}} {{if uiElement.error "error"}}">
      <label class="small">
        Description
      </label>
      {{textarea
              class="ifta-field"
              rows=5
              placeholder="Enter a description"
              value=description
              disabled=interactionDisabled
              required=false
      }}
    </div>

    {{!-- Associated Labels --}}
    <div>
      <div class="d-flex align-items-center justify-content-start">
        <h1 class="p-title align-self-baseline">
          Labels
        </h1>
        {{#unless (or editingTags interactionDisabled)}}
          <button class="btn icon-btn p-action align-self-baseline" {{action (toggle "editingTags" this)}} title="Edit Tags">
            {{fa-icon icon="plus-circle" fixedWidth=true}} Edit Labels
          </button>
        {{/unless}}
      </div>
      {{#if (eq selectedTags.length 0)}}
        <div class="p-footnote">
          No Tags
        </div>
      {{else}}
        {{#each selectedTags as |tag tagIndex|}}
          {{#if tag.isNew}}
            <span class="tag link-tag d-inline-flex align-items-center">
              <span
                      class="text-container threatconnect-summary-tag
                {{unless interactionDisabled ' rounded-borders'}}"
              >
                {{#if tag.techniqueId}}
                  <span class="attack-tag">&#38;</span>
                  {{tag.techniqueId}}
                  -
                {{/if}}
                {{tag.name}}
                {{#if (not interactionDisabled)}}
                  <span class="remove-icon-container" {{action "deleteTag" tag}}>
                    {{fa-icon "times" class="tag-close-icon" fixedWidth=true}}
                  </span>
                {{/if}}
              </span>
            </span>
          {{else}}
            <a
                    href="{{details.uiUrl}}/auth/tags/tag.xhtml?tag={{tag.name}}&owner={{details.owner.name}}"
            class="tag link-tag d-inline-flex align-items-center"
            >
            <span
                    class="text-container threatconnect-summary-tag
                {{unless interactionDisabled ' rounded-borders'}}"
            >
                {{#if tag.techniqueId}}
                  <span class="attack-tag">&#38;</span>
                  {{tag.techniqueId}}
                  -
                {{/if}}
              {{tag.name}}
              {{#if (not interactionDisabled)}}
                <span class="remove-icon-container" {{action "deleteTag" tag}}>
                  {{fa-icon "times" class="tag-close-icon" fixedWidth=true}}
                </span>
              {{/if}}
              </span>
            </a>
          {{/if}}
        {{/each}}
      {{/if}}

      {{#if editingTags}}
        <div class="add-container mt-2">
          <div class="input-container mb-2">
            <label class="small ifta-label">
              Select Labels to Add
            </label>
            {{#power-select-multiple
                    eventType="click"
                    rootEventType="click"
                    triggerClass="p-power-select-multiple-trigger"
                    dropdownClass="p-power-select-dropdown"
                    selected=selectedTag
                    options=existingTags
                    searchEnabled=true
                    search=(action "searchTags")
                    placeholder="Search Tags"
                    searchField="name"
                    searchMessage="Loading Tags ..."
                    loadingMessage="Loading Tags ..."
                    searchPlaceholder="Search tags"
                    closeOnSelect=true
                    disabled=interactionDisabled
                    onOpen=(action "searchTags" "")
                    onChange=(action (mut selectedTag))
            as |tag|
            }}
              <span class="p-tag"
                    style="display: inline-block;
                          font-weight: normal;
                          word-break: break-word;
                          line-height: 1.2em;
                          font-size: 12px;
                          background-color: #fff;
                          border: 1px solid #e4e9f2;
                          padding: 2px 10px;
                          border-radius: 16px;
                          margin: 0px;
                          color: #07213a;"
              >
                {{#if tag.techniqueId}}
                  <span class="attack-tag">&#38;</span>
                  {{tag.techniqueId}}
                  -
                {{/if}}
                {{tag.name}}
                <span style="position: relative;">
                  {{#if tag.isNew}}
                    {{fa-icon "plus-circle" fixedWidth=true}}
                  {{/if}}
                </span>
              </span>
            {{/power-select-multiple}}
          </div>
          <div class="d-flex align-items-center justify-content-end mb-1 mt-2">
            <button
                    class="btn btn-naked p-btn short outline"
              {{action (toggle "editingTags" this)}}
                    disabled={{interactionDisabled}}
            >
              Cancel
            </button>
            <button
                    class="btn btn-polarity p-btn short outline"
              {{action "addTags"}}
                    disabled={{interactionDisabled}}
            >
              Add Labels
            </button>
          </div>
        </div>
      {{/if}}
    </div>
  
    <div class="d-flex justify-content-between align-items-center mt-2">
      <div>
        <span class="p-footnote">{{numberOfIndicatorsToBeSubmitted}} entities {{#if (gt numberOfIndicatorsToBeSubmitted 1)}}s{{/if}} selected for submission</span>
      </div>
      <button
        class="btn btn-polarity p-btn"
        {{action "submitItems"}}
        disabled={{interactionDisabled}}
      >
        {{#if createIsRunning}}
          {{fa-icon icon="spinner-third" spin=true fixedWidth=true}}
        {{else}}
          Submit
        {{/if}}
      </button>
    </div>  
  {{/if}}
</div>