{{!-- modal-open sets a minimum height so our absolute positioned modal is always visible --}}
<div class="{{if showDeletionModal "modal-open"}}">
  <div class="modal-mask {{if showDeletionModal "visible" "invisible"}}"></div>
  
  {{#if showDeletionModal}}
    <div class="integration-modal">
      <div class="title">
        <div class="content">
          Delete IOC
        </div>      
      </div>
      <div class="content">
        <span class="p-key">
          <div>
            {{fa-icon icon="exclamation-triangle" fixedWidth=true class="p-red"}} You are about to delete the indicator <b class="p-value-break-all">{{resultToDelete.entity.value}}</b> from the organization <b>{{details.myOwner.name}}</b>
          </div>
          <div class="mt-2">
             Deleting an indicator cannot be undone and will remove all data for the indicator from the ThreatConnect platform.
          </div>
        </span>
      </div>
      <div class="footer">
        <div class="content d-flex align-items-center justify-content-end">
          <button class="btn btn-naked p-btn short outline" {{action "cancelItemDeletion"}}>
            Cancel
          </button>
          <button
                  class="btn btn-danger p-btn short outline"
            {{action "confirmDelete"}}
          >
            {{#if isDeleting}}
              {{fa-icon icon="spinner-third" fixedWidth=true spin=true}}
            {{else}}
              Delete
            {{/if}}
          </button>
        </div>
      </div>
    </div>
  {{/if}}
  
  {{#if state.errorMessage}}
    <div class="alert alert-danger error-message mt-2">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="error-message-title">
          {{#if state.errorTitle}}
            {{state.errorTitle}}
          {{else}}
            Unexpected Error Occurred
          {{/if}}
        </div>
        <div>
          {{fa-icon icon="times" fixedWidth=true click=(set state "errorMessage" "") class="close-icon"}}
        </div>
      </div>
      <div class="error-scrolling-container">
        <pre>{{state.errorMessage}}</pre>
      </div>
    </div>
  {{/if}}
  
  {{!-- Display results that are found --}}
  {{#if hasIndicatorsInThreatConnect}}
    <div class="d-flex align-items-center justify-content-between mt-2 mb-1">
      <h1 class="p-title my-0">
        Found in ThreatConnect
      </h1>
      {{#if hasFoundInThreatConnectIndicatorsAvailableToSubmit}}
        <button
          class="no-style-button p-action"
          {{action "addAllCurrentlyInThreatConnectToBeSubmitted"}}
          title="Add all IOCs to Submission List"
          disabled={{interactionDisabled}}
        >
          Add All
        </button>
      {{/if}}
    </div>
    <div class="search-results">
    {{#each details.results as | result |}}
      {{#if (and result.foundInThreatConnect (not result.__toBeSubmitted))}}
        <div class="search-result-container">
          <div class="search-result-header d-flex align-items-start justify-content-between" {{action (toggle "__viewIndicatorDetails" result)}}>
            <div class="d-flex align-items-start justify-content-start mr-1">
              <div>
                {{#if result.__viewIndicatorDetails}}
                  {{fa-icon icon="chevron-up" fixedWidth=true class="p-grey"}}
                {{else}}
                  {{fa-icon icon="chevron-down" fixedWidth=true class="p-grey"}}
                {{/if}}
              </div>
              {{#if result.__isNewlyAdded}}
                <div class="ml-1">
                  {{fa-icon icon="check-circle" fixedWidth=true class="p-green icon-small"}}
                  {{bs-tooltip title="Indicator was successfully submitted to ThreatConnect"}}
                </div>
              {{/if}}
              <div class="ml-1 search-result-entity-value {{if result.__isOnExclusionList "p-orange"}} {{if result.__hasSubmissionError "p-red"}}">
                {{result.entity.value}}
              </div>
            </div>
            <div class="d-flex align-items-start justify-content-end">
              <div class="mr-1">
                  <span class="p-footnote">{{result.displayType}}</span>
              </div>
              <div class="mr-1">
                {{#if result.isInMyOwner}}
                  {{fa-icon icon="house" fixedWidth=true class="p-grey is-mine-icon icon-small"}}
                  {{bs-tooltip title="This indicator is in your organization"}}
                {{else}}
                  {{fa-icon icon="house" fixedWidth=true class="fa-blank is-mine-icon icon-small"}}
                {{/if}}
              </div>
              <div class="d-flex align-items-start justify-content-end flex-shrink-0">
                {{#if (and block.userOptions.allowDelete result.canDelete)}}
                  <button 
                    class="header-button delete mr-1"
                    {{action (pipe-action (action "initiateItemDeletion" result)(action (set result "__deleteTooltipIsVisible" false))) bubbles=false}}
                    disabled={{interactionDisabled}}
                  >
                    {{fa-icon icon="trash" fixedWidth=true}}
                    {{bs-tooltip 
                            title="Delete indicator from your default organization" 
                            visible=result.__deleteTooltipIsVisible
                            onShow=(action (set result "__deleteTooltipIsVisible" true))
                    }}
                  </button>
                {{/if}}
                {{#if result.__hasSubmissionError}}
                  <div>
                    {{fa-icon icon="exclamation-triangle" fixedWidth=true class="p-red button-width-icon"}}
                    {{bs-tooltip title="An error was encountered submitting this indicator. Click to view error."}}
                  </div>
                {{else if result.__isOnExclusionList}}
                  <div>
                    {{fa-icon icon="empty-set" fixedWidth=true class="p-orange button-width-icon"}}
                    {{bs-tooltip title="This indicator is contained on a system-wide exclusion list and cannot be submitted"}}
                  </div>
                {{else}}
                  <button 
                    class="header-button add p-green"
                    {{action (set result "__toBeSubmitted" true) bubbles=false}}
                    disabled={{interactionDisabled}}
                  >
                    {{fa-icon icon="plus" fixedWidth=true}}
                    {{bs-tooltip title="Add indicator to selected owner"}}
                  </button>
                {{/if}}
              </div>
            </div>
          </div>
          {{#if result.__viewIndicatorDetails}}
            <div class="search-result-content">
              {{#if result.__hasSubmissionError}}
                <div class="alert alert-danger error-message mt-2">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="error-message-title">
                      Error submitting indicator
                    </div>
                    <div>
                      {{fa-icon icon="times" fixedWidth=true click=(pipe-action (set result "__errorMessage" "")(set result "__hasSubmissionError" false)(set result "__viewError" false)) class="close-icon"}}
                    </div>
                  </div>
                  <div class="error-scrolling-container">
                    <pre>{{result.__errorMessage}}</pre>
                  </div>
                </div>
              {{/if}}
              <h2 class="p-title mt-0">Owners</h2>
                {{#each result.indicators as | indicator |}}
                  <div class="search-result-indicator-container">
                    <div class="d-flex align-items-start justify-content-between">
                      <div class="mr-1">
                        {{#if (eq indicator.ownerId details.myOwner.id)}}
                          <span>
                            {{fa-icon icon="house" fixedWidth=true class="p-grey is-mine-icon icon-small"}}
                            {{bs-tooltip title="This indicator is in your organization"}}
                          </span>
                        {{/if}}
                        <a href={{indicator.webLink}}>{{indicator.ownerName}} {{fa-icon icon="external-link-square" fixedWidth=true class="external-link-icon"}}</a>
                      </div>
                      <div class="flex-shrink-0">
                        {{#if indicator.active}}
                          {{fa-icon icon="check" fixedWidth=true class="p-green icon-small"}} Active
                        {{else}}
                          {{fa-icon icon="minus-circle" fixedWidth=true class="p-red icon-small"}} Inactive
                        {{/if}} 
                      </div>
                    </div>
                    <div>
                      <span class="p-key">Threat Rating: </span>
                      <span>
                        {{#if (eq indicator.rating 0)}}
                          Unknown
                        {{/if}}
                        {{#each (repeat 5) as |empty ratingIndex|}}
                          {{#if (lt ratingIndex indicator.rating)}}
                            {{fa-icon icon="skull" class="icon-small p-grey"}}
                          {{/if}}
                        {{/each}}
                      </span>
                      <span class="p-key ml-2">ThreatAssess: </span> 
                      <span class="p-value">
                        {{indicator.threatAssessScore}}
                      </span>
                    </div>
                    <div>
                      <span class="p-key">Added:</span> <span class="p-value">{{moment-format indicator.dateAdded "YYYY-MM-DD" timeZone=timezone}}</span>
                      <span class="p-key ml-1">Modified:</span> <span class="p-value">{{moment-format indicator.lastModified "YYYY-MM-DD" timeZone=timezone}}</span>
                    </div>
                  </div>
                {{/each}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    {{/each}}
  </div>
    {{#if foundInThreatConnectIsEmpty}}
      <div>
        <span class="p-value">All indicators are selected for submission</span>
      </div>
    {{/if}}
  {{/if}}
  
  {{!-- Display entities that are not in TC --}}
  {{#if hasIndicatorNotInThreatConnect}}
    <div class="d-flex align-items-center justify-content-between mt-2 mb-1">
      <h1 class="p-title my-0">
        Not in ThreatConnect
      </h1>
      {{#if hasNotInThreatConnectIndicatorsAvailableToSubmit}}
        <button
          class="no-style-button p-action"
          {{action "addAllNotInThreatConnectBeSubmitted"}}
          title="Add all IOCs to Submission List"
          disabled={{interactionDisabled}}
        >
          Add All
        </button>
      {{/if}}
    </div>
    <div class="search-results">
      {{#each details.results as | result |}}
        {{#if (and (not result.foundInThreatConnect) (not result.__toBeSubmitted))}}
          <div class="search-result-container">
            <div class="search-result-header d-flex align-items-start justify-content-between">
              <div class="{{if result.__isOnExclusionList "p-orange"}} {{if result.__hasSubmissionError "p-red"}} mr-1">
                <span class="search-result-entity-value">{{result.entity.value}}</span>
                {{#if result.__isOnExclusionList}}
                  <span class="p-footnote">(exclusion listed)</span>
                {{/if}}
              </div>
              <div class="d-flex align-items-start justify-content-end">
                <div class="mr-1">
                  <span class="p-footnote">{{result.displayType}}</span>
                </div>
                {{#if result.__hasSubmissionError}}
                  <div>
                    {{#if result.__viewError}}
                      <span class="p-action ml-1" {{action (toggle "__viewError" result)}}>Hide Error {{fa-icon icon="chevron-up" fixedWidth=true}}</span>
                    {{else}}
                      <span class="p-action ml-1" {{action (toggle "__viewError" result)}}>View Error {{fa-icon icon="chevron-down" fixedWidth=true}}</span>
                    {{/if}}
                  </div>
                {{/if}}                
                {{#if result.__isOnExclusionList}}
                  <div>
                    {{fa-icon icon="empty-set" fixedWidth=true class="p-orange button-width-icon"}}
                    {{bs-tooltip title="This indicator is contained on a system-wide exclusion list and cannot be submitted"}}
                  </div>                  
                {{else}}
                  <div class="d-flex align-items-center justify-content-end">
                    {{#if result.__hasSubmissionError}}
                      <div>
                        {{fa-icon icon="exclamation-triangle" fixedWidth=true class="p-red button-width-icon"}}
                        {{bs-tooltip title="An error was encountered submitting this indicator"}}
                      </div>
                    {{else}}
                      <button
                              class="header-button add p-green"
                        {{action (set result "__toBeSubmitted" true)}}
                              disabled={{interactionDisabled}}
                      >
                        {{fa-icon icon="plus" fixedWidth=true}}
                        {{bs-tooltip title="Add indicator to selected owner"}}
                      </button>  
                    {{/if}}                    
                  </div>
                {{/if}}
              </div>
            </div>
            {{#if result.__viewError}}
              <div class="search-result-content">
                <div class="alert alert-danger error-message mt-2">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="error-message-title">
                      Error submitting indicator
                    </div>
                    <div>
                      {{fa-icon icon="times" fixedWidth=true click=(pipe-action (set result "__errorMessage" "")(set result "__hasSubmissionError" false)(set result "__viewError" false)) class="close-icon"}}
                    </div>
                  </div>
                  <div class="error-scrolling-container">
                    <pre>{{result.__errorMessage}}</pre>
                  </div>
                </div>
              </div>  
            {{/if}}
          </div>
        {{/if}}
      {{/each}}
    </div>
    {{#if notInThreatConnectIsEmpty}}
      <div>
        <span class="p-value">All indicators are selected for submission</span>
      </div>
    {{/if}}
  {{/if}}
  
  {{!-- Display entities that are to be submitted --}}
  {{#if hasIndicatorToBeSubmitted}}
    <div class="d-flex align-items-center justify-content-between mt-3 mb-1">
      <h1 class="p-title my-0">
        Submit to ThreatConnect
      </h1>
      {{#if hasIndicatorToBeSubmitted}}
        <button 
          class="no-style-button p-action"
          title="Remove all IOCs from Submission List"
          {{action "removeAllToBeSubmitted"}}
          disabled={{interactionDisabled}}
        >
          Remove All
        </button>
      {{/if}}
    </div>
    <div class="p-footnote mb-1">
      Listed indicators will be submitted to ThreatConnect and owned by {{owner.name}}
    </div>
    {{#if (not hasIndicatorToBeSubmitted)}}
      <div>
          <span class="p-value">No indicators selected</span>
      </div>
    {{/if}}
    <div class="search-results">
      {{#each details.results as | result |}}
        {{#if result.__toBeSubmitted}}
          <div class="search-result-container">
            <div class="search-result-header d-flex align-items-start justify-content-between">
              <div class="search-result-entity-value mr-1">
                {{result.entity.value}}
              </div>
              <div class="d-flex align-items-start justify-content-end">
                <div class="p-footnote mr-1">
                  {{result.displayType}}
                </div>
                {{!-- show icon if this indicator will be updated rather than created --}}
                {{#each result.indicators as | indicator | }}
                  {{#if (eq indicator.ownerId owner.id)}}
                    <div class="mr-1">
                      {{fa-icon icon="pencil" fixedWidth=true class="icon-small p-grey"}}
                      {{bs-tooltip title=(concat "This indicator already exists in " owner.name " and will be updated")}}
                    </div>
                  {{/if}}
                {{/each}}
                <div class="mr-1">
                  {{#if result.isInMyOwner}}
                    {{fa-icon icon="house" fixedWidth=true class="p-grey is-mine-icon icon-small"}}
                    {{bs-tooltip title="This indicator is already in your organization and will be updated"}}
                  {{else}}
                    {{fa-icon icon="house" fixedWidth=true class="fa-blank is-mine-icon icon-small"}}
                  {{/if}}
                </div>
                <button
                  class="header-button minus p-orange"
                  {{action (pipe-action (set result "__toBeSubmitted" false)(set result "__deleteTooltipIsVisible" false))}}
                  disabled={{interactionDisabled}}
                >
                  {{fa-icon icon="minus" fixedWidth=true}}
                  {{bs-tooltip title="Remove indicator from submission list"}}
                </button>
              </div>
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
  
  {{!-- Show submision options --}}
  {{#if hasIndicatorToBeSubmitted}}
    <div class="d-flex align-items-center justify-content-between mt-2 mb-1">
      <h2 class="p-title my-0">
        Submission Options
      </h2>
      <div>
        <span class="p-action" {{action "resetSubmissionOptions"}}>Reset Options</span>
      </div>
    </div>
    {{!-- Owner Select --}}
    <div class="input-container">
      <label class="small ifta-label">
        Owner
      </label>
      {{#if ownersWithCreatePermission.length}}
        {{#power-select
                eventType="click"
                rootEventType="click"
                triggerClass="ifta-field p-power-select-trigger"
                dropdownClass="p-power-select-dropdown"
                selected=owner
                options=ownersWithCreatePermission
                searchEnabled=true
                searchField="name"
                placeholder="Select owner"
                closeOnSelect=true
                disabled=interactionDisabled
                onChange=(action (mut owner))
        as |owner|
        }}
          {{owner.name}} ({{owner.type}})
        {{/power-select}}
      {{/if}}
    </div>
  
    {{!-- Description Input --}}
    <div class="input-container text-area-container {{if interactionDisabled "disabled"}} {{if uiElement.error "error"}}">
      <label class="small">
        Description
      </label>
      {{textarea
              class="ifta-field"
              rows=5
              placeholder="Enter a description"
              value=description
              disabled=interactionDisabled
              required=false
      }}
    </div>
  
    {{!-- Source Input --}}
    <div class="input-container">
      <label class="small ifta-label">
        Source
      </label>
      {{input
              class=(concat "ifta-field" (if uiElement.error " error"))
              value=source
              placeholder="Enter a source"
              disabled=interactionDisabled
              required=false
      }}
    </div>
  
    {{!-- Rating --}}
    <div class="mb-2">
      <div class="p-key">Rating &nbsp;</div>
      <div>
        {{fa-icon "ban" click=(action "setRating" 0) class="rating-icon"}}
        {{#each (repeat 5) as |empty ratingIndex|}}
          {{fa-icon
                  "skull"
                  class=(if
                          (lt ratingIndex rating)
                          "rating-icon rating-icon-filled"
                          "rating-icon rating-icon-empty"
                  )
                  click=(action "setRating" (inc ratingIndex))
          }}
        {{/each}}
        {{ratingHuman}}
      </div>
    </div>
  
    {{!-- Confidence Slider --}}
    <div class="confidence">
      <span class="p-key">Confidence: &nbsp;</span>
      <span class="p-value">{{confidence}} - {{confidenceHuman}}</span>
      <div>
        <input
                type="range"
                oninput={{action "setConfidence" value="target.value"}}
                min="0"
                max="100"
                value={{confidence}}
                steps="1"
        />
      </div>
    </div>
  
    {{!-- Associated Groups --}}
    {{#if block.userOptions.allowAssociation}}
      <div class="d-flex align-items-center justify-content-start">
        <h1 class="p-title align-self-baseline">
          Associated Groups
        </h1>
        {{#unless (or editingGroups interactionDisabled)}}
          <button class="btn icon-btn p-action align-self-baseline" {{action (pipe-action (action "initializeGroupFilter")(toggle "editingGroups" this))}} title="Add Groups">
            {{fa-icon icon="plus-circle" fixedWidth=true}} Add Groups
          </button>
        {{/unless}}
      </div>
      {{#if (eq selectedGroups.length 0)}}
        <div class="p-footnote">
          No Associated Groups
        </div>
      {{else}}
        {{#each selectedGroups as |group groupIndex|}}
          <div class="associated-group-container">
            <div class="d-flex align-items-start justify-content-between">
              <div class="mr-1">
                {{group.name}}
              </div>
              {{#if (not interactionDisabled)}}
                <div class="remove-icon" {{action "removeGroup" group}}>
                  {{fa-icon "times" class="tag-close-icon" fixedWidth=true}}
                </div>
              {{/if}}
            </div>
            <div class="p-footnote">
              <div>Owner: {{group.ownerName}}</div>
              <div>Type: {{group.type}}</div>
            </div>
          </div>
        {{/each}}
      {{/if}}
      {{#if editingGroups}}
        <div class="add-container mt-2">
          <div class="d-flex align-items-center justify-content-between mb-1 mt-1">
            <h2 class="p-title m-0">
              Add Associated Groups
            </h2>
            <div class="p-action mr-1" {{action (toggle "viewGroupFilters" this)}}>
              {{#if viewGroupFilters}}
                Hide filters
                {{fa-icon icon="chevron-up" fixedWidth=true}}
              {{else}}
                View filters
                {{fa-icon icon="chevron-down" fixedWidth=true}}
              {{/if}}
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-start mb-2">
            <div class="p-footnote">
              {{#if (gt ownerFilter.length 0)}}
                {{ownerFilter.length}} owner {{pluralize ownerFilter.length "filter" without-count=true}}
              {{else}}
                No owner filters applied
              {{/if}}
            </div>
            <div class="p-footnote ml-1 mr-1">|</div>
            <div class="p-footnote">
              {{#if (gt groupTypeFilter.length 0)}}
                {{groupTypeFilter.length}} group type {{pluralize groupTypeFilter.length "filter" without-count=true}}
              {{else}}
                No group type filters applied
              {{/if}}
            </div>
          </div>
          {{#if viewGroupFilters}}
            <div class="group-filter-container mb-2">
              <h3 class="p-title mb-2 mt-1">
                Group Search Filters
              </h3>
              <div class="input-container mb-2">
                <label class="small ifta-label">
                  Owner Filter
                </label>
                {{#power-select-multiple
                        eventType="click"
                        rootEventType="click"
                        triggerClass="p-power-select-multiple-trigger"
                        dropdownClass="p-power-select-dropdown"
                        selected=ownerFilter
                        options=ownersWithGroupPermission
                        searchEnabled=true
                        searchField="name"
                        placeholder="No owner filter applied"
                        closeOnSelect=false
                        disabled=interactionDisabled
                        onChange=(action (mut ownerFilter))
                as |owner|
                }}
                  {{owner.name}} ({{owner.type}})
                {{/power-select-multiple}}
              </div>
  
              <div class="input-container mb-2">
                <label class="small ifta-label">
                  Group Type Filter
                </label>
                {{#power-select-multiple
                        eventType="click"
                        rootEventType="click"
                        triggerClass="p-power-select-multiple-trigger"
                        dropdownClass="p-power-select-dropdown"
                        selected=groupTypeFilter
                        options=groupTypeNames
                        searchEnabled=true
                        placeholder="No group type filter applied"
                        closeOnSelect=false
                        disabled=interactionDisabled
                        onChange=(action (mut groupTypeFilter))
                as |groupType|
                }}
                  {{groupType}}
                {{/power-select-multiple}}
              </div>
            </div>
          {{/if}}
          <div class="input-container">
            <label class="small ifta-label">
              Associated Group
            </label>
            {{#if searchingGroups}}
              <div class="p-power-select-searching-icon-container">
                {{fa-icon icon="spinner-third" spin=true fixedWidth=true class="p-power-select-searching-icon"}}
                loading
              </div>
            {{/if}}
  
            {{#power-select
                    eventType="click"
                    rootEventType="click"
                    triggerClass="ifta-field p-power-select-trigger"
                    dropdownClass="p-power-select-dropdown"
                    searchEnabled=true
                    search=(action "searchGroups")
                    searchMessage="No groups match filter criteria"
                    loadingMessage="Loading groups ..."
                    selected=selectedGroup
                    options=groups
                    searchField="name"
                    placeholder="Select associated group"
                    closeOnSelect=true
                    disabled=interactionDisabled
                    onOpen=(action "initializeGroupFilter")
                    onChange=(action (mut selectedGroup))
            as |group|
            }}
              {{group.name}} ({{group.ownerName}})
            {{/power-select}}
          </div>
          <div class="d-flex align-items-center justify-content-end mb-1">
            <button
                    class="btn btn-naked p-btn short outline"
              {{action (toggle "editingGroups" this)}}
                    disabled={{interactionDisabled}}
            >
              Close
            </button>
            <button
                    class="btn btn-polarity p-btn short outline"
              {{action "addGroup"}}
                    disabled={{interactionDisabled}}
            >
              Add Group
            </button>
          </div>
        </div>
      {{/if}}
    {{/if}}

    {{!-- Associated Attributes --}}
    {{#if block.userOptions.allowAssociation}}
      <div class="d-flex align-items-center justify-content-start">
        <h1 class="p-title align-self-baseline">
          Associated Attributes
        </h1>
        {{#unless (or editingAttributes interactionDisabled)}}
          <button class="btn icon-btn p-action align-self-baseline" {{action (pipe-action (action "initializeAttributeFilter")(toggle "editingAttributes" this))}} title="Add Attributes">
            {{fa-icon icon="plus-circle" fixedWidth=true}} Add Attributes
          </button>
        {{/unless}}
      </div>
      {{#if (eq selectedAttributes.length 0)}}
        <div class="p-footnote">
          No Associated Attributes
        </div>
      {{else}}
        {{!-- attributes go here --}}
        {{#each selectedAttributes as |attribute attributeIndex|}}
          <div class="associated-group-container">
            <div class="d-flex align-items-start justify-content-between">
              <h2 class="p-title my-0 mr-1">
                {{attribute.type}}
              </h2>
              {{#if (not interactionDisabled)}}
                <div class="remove-icon" {{action "removeAttribute" attribute}}>
                  {{fa-icon "times" class="tag-close-icon" fixedWidth=true}}
                </div>
              {{/if}}
            </div>
            <div class="mt-1">
              {{attribute.value}}
            </div>
            <div class="d-flex align-items-center justify-content-between mt-1">
              <div class="checkbox-container">
                <label class="d-flex align-items-center my-0">
                  <input
                    checked={{attribute.pinned}}
                    type="checkbox"
                    {{on "change" (action (mut attribute.pinned) value="target.checked")}}
                          disabled={{interactionDisabled}}
                  />
                  <span class="p-value ml-1">Pinned</span>
                </label>
              </div>
              <div>
                <span class="p-footnote">Applies to <strong>{{pluralize attribute.indicatorType}}</strong></span>
              </div>
            </div>
          </div>
        {{/each}}
      {{/if}}
      {{#if editingAttributes}}
        <div class="add-container mt-2">
          <div class="d-flex align-items-center justify-content-between mb-1 mt-1">
            <h2 class="p-title m-0">
              Add Associated Attributes
            </h2>
          </div>
          <div class="input-container">
            <label class="small ifta-label">
              Indicator Type
            </label>

            {{#power-select
                eventType="click"
                rootEventType="click"
                triggerClass="ifta-field p-power-select-trigger"
                dropdownClass="p-power-select-dropdown"
                selected=selectedIndicatorType
                options=indicatorTypesToSubmit
                placeholder="Select indicator type"
                closeOnSelect=true
                disabled=interactionDisabled
                onChange=(pipe-action (action (mut selectedIndicatorType))(action "getAttributesForSelectedType"))
            as |type|
            }}
              {{type}}
            {{/power-select}}
          </div>
          {{#if selectedIndicatorType}}
            <div class="input-container">
            <label class="small ifta-label">
              {{selectedIndicatorType}} Attributes
            </label>
            {{#if loadingAttributes}}
              <div class="p-power-select-searching-icon-container">
                {{fa-icon icon="spinner-third" spin=true fixedWidth=true class="p-power-select-searching-icon"}}
                loading
              </div>
            {{/if}}

            {{#power-select
                eventType="click"
                rootEventType="click"
                triggerClass="ifta-field p-power-select-trigger"
                dropdownClass="p-power-select-dropdown"
                searchEnabled=true
                searchMessage="No attributes"
                loadingMessage="Loading attributes ..."
                selected=selectedAttribute
                options=attributes
                searchField="name"
                placeholder="Select attribute"
                closeOnSelect=true
                disabled=interactionDisabled
                onChange=(pipe-action (action (mut selectedAttribute))(action (mut attributeValue "")))
            as |attribute|
            }}
              {{attribute.name}}
            {{/power-select}}
          </div>
          {{/if}}
          {{#if selectedAttribute}}
            {{#if (gt selectedAttribute.description.length 0)}}
              <div class="mb-2 attribute-description p-footnote">
                {{selectedAttribute.description}}
              </div>
            {{/if}}
            {{#if (or (not selectedAttribute.validationRule)(eq selectedAttribute.validationRule.type "Regex"))}}
              {{!-- No Validation Rule Attribute --}}
              {{#if (gt selectedAttribute.maxSize 50)}}
                <div class="input-container mb-1 text-area-container {{if interactionDisabled "disabled"}} {{if attributeValidationError "error"}}">
                  <label class="small">
                    Value
                  </label>
                  {{textarea
                    class="ifta-field"
                    rows=5
                    placeholder="Enter a description"
                    value=attributeValue
                    disabled=interactionDisabled
                    required=false
                    maxlength=selectedAttribute.maxSize
                  }}
                </div>
              {{else}}
                <div class="input-container">
                  <label class="small ifta-label">
                    Value
                  </label>
                  {{input
                    class=(concat "mb-1 ifta-field" (if attributeValidationError " error"))
                    value=attributeValue
                    placeholder="Enter value"
                    disabled=interactionDisabled
                    required=true
                    maxlength=selectedAttribute.maxSize
                  }}
                </div>
              {{/if}}
            {{/if}}
            {{#if (or (eq selectedAttribute.validationRule.type "SelectOne")(eq selectedAttribute.validationRule.type "SelectRadio"))}}
              {{!-- Attribute Value Select --}}
              <div class="input-container">
                <label class="small ifta-label">
                  Value
                </label>
                {{#power-select
                    eventType="click"
                    rootEventType="click"
                    triggerClass="ifta-field p-power-select-trigger"
                    dropdownClass="p-power-select-dropdown"
                    selected=attributeValue
                    options=selectedAttribute.validationRule.__values
                    searchEnabled=true
                    placeholder="Select values"
                    closeOnSelect=true
                    disabled=interactionDisabled
                    onChange=(action (mut attributeValue))
                as |value|
                }}
                  {{value}}
                {{/power-select}}
              </div>
            {{else if (eq selectedAttribute.validationRule.type "Integer")}}
              <div class="input-container">
                <label class="small ifta-label">
                  Value
                </label>
                {{input
                    type="number"
                    class=(concat "mb-1 ifta-field" (if uiElement.error " error"))
                    value=attributeValue
                    placeholder=selectedAttribute.validationRule.description
                    disabled=interactionDisabled
                    required=true
                    maxlength=selectedAttribute.maxSize
                    min=selectedAttribute.validationRule.__min
                    max=selectedAttribute.validationRule.__max
                }}
              </div>
            {{else if (eq selectedAttribute.validationRule.type "DateTime")}}
              <div class="ifta-datetime">
                {{p-input/date
                    class="ifta-datetime"
                    allowInput=false
                    date=attributeValue
                    dateFormat="M/D/Y"
                    placeholder="Select Date"
                    onChange=(action (mut attributeValue))
                    onClear=(action (mut attributeValue undefined))
                }}
              </div>
            {{/if}}
          {{/if}}
          <div class="d-flex align-items-start justify-content-between">
            {{#if attributeValidationError}}
              <div class="p-footnote error-message-text">
                {{attributeValidationError}}
              </div>
            {{else}}
              <div></div>
            {{/if}}
            {{#if (and 
              (gt selectedAttribute.maxSize 0)
              (not-eq selectedAttribute.validationRule.type "Integer")
              (not-eq selectedAttribute.validationRule.type "SelectOne")
              (not-eq selectedAttribute.validationRule.type "SelectRadio"))
            }}
              <div class="p-footnote d-flex align-items-center justify-content-end flex-shrink-0">
                <div>Length: {{if attributeValue.length attributeValue.length 0}} / {{selectedAttribute.maxSize}}</div>
              </div>
            {{/if}}
          </div>
          {{#if selectedIndicatorType}}
            <div class="checkbox-container ml-1 mt-1">
              <label class="d-flex align-items-center">
                <input
                  checked={{attributeIsPinned}}
                  type="checkbox"
                  {{on "change" (action (mut attributeIsPinned) value="target.checked")}}
                  disabled={{interactionDisabled}}
                />
                <span class="p-value ml-1">Set as Pinned Attribute</span>
              </label>
            </div>
          {{/if}}
          <div class="d-flex align-items-center justify-content-end mb-1">
            <button
                    class="btn btn-naked p-btn short outline"
              {{action (toggle "editingAttributes" this)}}
                    disabled={{interactionDisabled}}
            >
              Close
            </button>
            <button class="btn btn-polarity p-btn short outline"
              {{action "addAttribute"}}
                    disabled={{interactionDisabled}}
            >
              Add Attribute
            </button>
          </div>
        </div>
      {{/if}}
    {{/if}}
  
    {{!-- Host Specific Options --}}
    {{#if entitiesToSubmitIncludeDomain}}
      <h1 class="p-title">
        Host Specific Options
      </h1>
      <div class="checkbox-container">
        <label class="d-flex align-items-center">
          <input
            checked={{whoisActive}}
            type="checkbox"
            {{on "change" (action (mut whoisActive) value="target.checked")}}
            disabled={{interactionDisabled}}
          />
          <span class="p-value ml-1">Enable Whois Lookups</span>
        </label>
      </div>
      <div class="checkbox-container">
        <label class="d-flex align-items-center">
          <input
            checked={{dnsActive}}
            type="checkbox"
            {{on "change" (action (mut dnsActive) value="target.checked")}}
            disabled={{interactionDisabled}}
          />
          <span class="p-value ml-1">Enable DNS Tracking</span>
        </label>
      </div>
    {{/if}}
  
    {{!-- Associated Tags --}}
    <div>
      <div class="d-flex align-items-center justify-content-start">
        <h1 class="p-title align-self-baseline">
          Associated Tags
        </h1>
        {{#unless (or editingTags interactionDisabled)}}
          <button class="btn icon-btn p-action align-self-baseline" {{action (toggle "editingTags" this)}} title="Add Tags">
            {{fa-icon icon="plus-circle" fixedWidth=true}} Add Tags
          </button>
        {{/unless}}
      </div>
      {{#if (eq selectedTags.length 0)}}
        <div class="p-footnote">
          No Tags
        </div>
      {{else}}
        {{#each selectedTags as |tag tagIndex|}}
          {{#if tag.isNew}}
            <span class="tag link-tag d-inline-flex align-items-center">
              <span
                class="text-container threatconnect-summary-tag
                {{unless interactionDisabled ' rounded-borders'}}"
              >
                {{#if tag.techniqueId}}
                  <span class="attack-tag">&#38;</span>
                  {{tag.techniqueId}}
                  -
                {{/if}}
                {{tag.name}}
                {{#if (not interactionDisabled)}}
                  <span class="remove-icon-container" {{action "deleteTag" tag}}>
                    {{fa-icon "times" class="tag-close-icon" fixedWidth=true}}
                  </span>
                {{/if}}
              </span>
            </span>
          {{else}}
            <a
              href="{{details.uiUrl}}/auth/tags/tag.xhtml?tag={{tag.name}}&owner={{details.owner.name}}"
              class="tag link-tag d-inline-flex align-items-center"
            >
              <span
                class="text-container threatconnect-summary-tag
                {{unless interactionDisabled ' rounded-borders'}}"
              >
                {{#if tag.techniqueId}}
                  <span class="attack-tag">&#38;</span>
                  {{tag.techniqueId}}
                  -
                {{/if}}
                {{tag.name}}
                {{#if (not interactionDisabled)}}
                  <span class="remove-icon-container" {{action "deleteTag" tag}}>
                    {{fa-icon "times" class="tag-close-icon" fixedWidth=true}}
                  </span>
                {{/if}}
              </span>
            </a>
          {{/if}}
        {{/each}}
      {{/if}}
  
      {{#if editingTags}}
        <div class="add-container mt-2">
          <div class="input-container mb-2">
            <label class="small ifta-label">
              Select Tags to Add
            </label>
            {{#power-select-multiple
                    eventType="click"
                    rootEventType="click"
                    triggerClass="p-power-select-multiple-trigger"
                    dropdownClass="p-power-select-dropdown"
                    selected=selectedTag
                    options=existingTags
                    searchEnabled=true
                    search=(action "searchTags")
                    placeholder="Search Tags"
                    searchField="name"
                    searchMessage="Loading Tags ..."
                    loadingMessage="Loading Tags ..."
                    searchPlaceholder="Search tags"
                    closeOnSelect=true
                    disabled=interactionDisabled
                    onOpen=(action "searchTags" "")
                    onChange=(action (mut selectedTag))
            as |tag|
            }}
              <span class="p-tag"
                    style="display: inline-block;
                          font-weight: normal;
                          word-break: break-word;
                          line-height: 1.2em;
                          font-size: 12px;
                          background-color: #fff;
                          border: 1px solid #e4e9f2;
                          padding: 2px 10px;
                          border-radius: 16px;
                          margin: 0px;
                          color: #07213a;"
              >
                {{#if tag.techniqueId}}
                  <span class="attack-tag">&#38;</span>
                  {{tag.techniqueId}}
                  -
                {{/if}}
                {{tag.name}}
                <span style="position: relative;">
                  {{#if tag.isNew}}
                    {{fa-icon "plus-circle" fixedWidth=true}}
                  {{/if}}
                </span>
              </span>
            {{/power-select-multiple}}
          </div>
          <div class="d-flex align-items-center justify-content-end mb-1 mt-2">
            <button
              class="btn btn-naked p-btn short outline"
              {{action (toggle "editingTags" this)}}
              disabled={{interactionDisabled}}
            >
              Cancel
            </button>
            <button
              class="btn btn-polarity p-btn short outline"
              {{action "addTags"}}
              disabled={{interactionDisabled}}
            >
              Add Tags
            </button>
          </div>
        </div>
      {{/if}}
    </div>
  
    <div class="d-flex justify-content-between align-items-center mt-2">
      <div>
        <span class="p-footnote">{{numberOfIndicatorsToBeSubmitted}} indicator{{#if (gt numberOfIndicatorsToBeSubmitted 1)}}s{{/if}} selected for submission</span>
      </div>
      <button
        class="btn btn-polarity p-btn"
        {{action "submitItems"}}
        disabled={{interactionDisabled}}
      >
        {{#if createIsRunning}}
          {{fa-icon icon="spinner-third" spin=true fixedWidth=true}}
        {{else}}
          Submit IOCs
        {{/if}}
      </button>
    </div>  
  {{/if}}
</div>